<!DOCTYPE html>
<html>
<head>
 <title>REST_API</title>
 <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
<p align="center">HOME</p>
<p align="center"><a href=http://127.0.0.1:5000/registration ><button class=grey style="height:75px;width:150px">Регистрация</button></a></p>
<p align="center"><a href=http://127.0.0.1:5000/all_users ><button class=grey style="height:75px;width:150px">Все пользователи</button></a></p>
<p align="center"><a href=http://127.0.0.1:5000/sign-in ><button class=grey style="height:75px;width:150px">Войти</button></a></p>
</body>
</html>