<div style="margin: 10px" action="/sign-in" method="PUT" align="center">
    <label>Смена пароля для {{acc}}</label>
    <br/>
    <input
            name="password"
            type="password"
            placeholder="Password"
            id="password"
    />
    <br/>
    <button type="submit" onclick="submitForm(); ">Change password</button>
</div>
<script>
     function submitForm() {

        var password = document.getElementById("password").value;

        fetch("{{acc}}", {
            method: "PUT",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({ password: password }),



        });
    }


</script>