<div style="margin: 10px" action="/sign-in" method="POST" align="center">
    <input name="login" type="text" placeholder="Login" id="login"/>
    <br/>
    <input
            name="password"
            type="password"
            placeholder="Password"
            id="password"
    />
    <br/>
    <button type="submit" onclick="submitForm(); ">Sign in</button>
</div>
<script>
     function submitForm() {
        var login = document.getElementById("login").value;
        var password = document.getElementById("password").value;

        fetch("sign-in", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({ login: login, password: password }),



        });
    }


</script>


